{% extends 'base.html' %}

{% block title %}Leave us some feedback{% endblock %}

{% block content %}
<h1>My Feedback</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
    </p>
{% endfor %}

<button type="submit">Submit Feedback</button>

</form>
<a class='btn' href="/users/{{user.username}}">Login</a>
{% endblock %}